/**
 * @file
 * Default stylesheet.
 */

@import "meta-variables";


// #############################################################################
// Reusables.

%reset {
  // If I knew Bower now I could have defined normalize.css as an easy-to-grab
  // dependency.
  margin: 0;
  padding: 0;
}
%border-box {
  @include box-sizing(border-box);
}
%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
%menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }
}
%transition-color {
  transition-property: background-color, color;
  transition-duration: 0.1s;
}


// #############################################################################
// Layout.

// Global.
html {
  @extend %reset;

  font-family: $font-sans-1;
  font-size: 100% * ($default-font-size / 16px);
  line-height: $default-line-height;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  background: $color-light;
  color: $color-text;
}
body {
  @extend %reset;
}
#page {
  @extend %border-box;

  background: $color-bg-prim;
}
.stripe {
  @extend %border-box;

  padding-top: 1em;
  padding-bottom: 1em;
}
.page-center {
  @extend %border-box;

  margin: 0 auto;
  min-width: $layout-page-min-width;
  max-width: $layout-page-max-width;
  padding-left: 1em;
  padding-right: 1em;
}

// Header.
.stripe--header {
  padding-top: 0;

  .page-center > .inner {
    // Box shadow syntax: $color $hoff $voff $blur $spread $inset
    @include box-shadow(desaturate(lighten($color-shadow, 25%), 10%) 0 0.05em 1em 0);

    background: $color-bg-sec;
    margin-top: -1em;
    padding-top: 1em;
  }
}
.case-nav + .description--case {
  margin-top: 1em;
}

// Main section.
.stripe--main {
  padding-bottom: 2em;
}


// Footer.
@include sticky-footer(4em, "#page", "#footer_push", "#footer");

#footer {
  background: $color-bg-sec;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  // Overriding compass sticky footer.
  height: auto;
  min-height: 4em; // Same as in the sticky-footer mixin just above.

  &.footer-nav {
    // Box shadow syntax: $color $hoff $voff $blur $spread $inset
    @include box-shadow($color-shadow 0 0 1em 0);

    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }
}

// -----------------------------------------------------------------------------
// Columns.
.frame--has-sidebar {
  @extend %clearfix;

  .condi-column {
    float: left;
  }
  &.sidebar-left {
    .frame__content {
      margin-left: 34%;
      margin-right: -100%;
      width: 66%;
    }
    .frame__meta {
      margin-left: 0;
      margin-right: -30%;
      width: 30%;
    }
  }
  &.sidebar-right {
    .frame__content {
      margin-left: 0;
      margin-right: -66%;
      width: 66%;
    }
    .frame__meta {
      margin-left: 70%;
      margin-right: -100%;
      width: 30%;
    }
  }
}



// #############################################################################
// Navigation.

.case-nav {
  .menu {
    @extend %menu-list;
    @extend %clearfix;
  }
  li {
    display: block;
    float: left;
    margin: 0 1px 0 0;
  }
  a {
    color: $color-prim;
    display: inline-block;
    margin: 0;
    padding: 0.2em 1em;
    text-decoration: none;

    &:hover,
    &.active {
      background-color: $color-prim;
      color: white;
    }
  }
}

.frame-nav {
  text-align: center;

  .menu {
    @extend %menu-list;
  }
  li {
    margin: 0.5em 0.5em;
    font-weight: bold;
  }
  a {
    background: $color-prim;
    border: 2px solid $color-prim;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 0.35em 0.8em;
    text-decoration: none;

    &:hover,
    &.active {
      background: white;
      color: $color-prim;
    }
    &.active {
      background: white;
      color: $color-prim;
    }
    &:focus {
      // Box shadow syntax: $color, $hoff, $voff, $blur, $spread, $inset
      @include box-shadow(
        white 0 0 1px 1px,
        saturate(darken($color-prim, 25%), 50%) 0 0 5px 1px
      );
      outline: none;
    }
  }
}


// #############################################################################
// Content.

.description--case {
  margin-bottom: 2em;
}
.frame-type--image.frame--no-sidebar {
  text-align: center;

  .frame_content {
    display: inline-block;
  }
}
.frame__content img {
  background: white;
  border: 1px solid #dedede;
  vertical-align: text-bottom;
}
.frame-type--text .frame__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}


// #############################################################################
// Typography.

h1,
h2,
h3 {
  font-weight: normal;
}
h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: -0.25em;
}
.stripe--header {
  .page__title {
    border-bottom: 1px solid desaturate(lighten($color-prim, 40%), 90%);
    font-size: 1.5em;
    line-height: 1.35;
    margin: 0;
    padding: 0.45em 0;
    text-indent: 0.5em;
  }
}
.frame__title {
  margin-top: -0.25em;
}
.description {
  p {
    margin: 0 0 1em;

    &:last-child {
      margin: 0;
    }
  }
}


// #############################################################################
// Misc.
img {
  max-width: 100%;
  height: auto;
}
a.transition {
  @extend %transition-color;
}

